@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_MyLayout";
    //Layout = null;
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<script>
    console.log("in REder Bdy");
</script>

<img src="/assets/img/avataaars.svg" />


B
@section Scripts {
    <script>
        console.log("in script section");
    </script>
}



<!--HEaderSection-->
@section HeaderSection{
    <h3>Hello From View To HEader Sec</h3>
}

@*
@section FooterSection{
    <h3>Hello From View To Footer Sec</h3>

} *@